html {
    font-family: arial, helvetica, sans-serif;
}
body {
    background-color: #cccccc;
}
table {
    border-collapse: collapse;
    border: 1px solid blue;
}
tr {
    border: 1px solid blue;
}
td {
    border: 1px solid blue;
}
form {
    margin-bottom: 0px;
}
div#msg {
    background-color: green;
}
.poolgrid-container {
    display: inline;
}
.teams-container {
    display: inline;
}
/* .pool-container {
    display: inline;
} */
#content-wrapper {
    border-radius: 12px;
    border: 3px solid blue;
    padding: 10px;
}
.pools-container {
    border-radius: 8px;
    border: 2px solid green;
    padding: 10px;
}
.pool-container {
    border-radius: 6px;
    border: 1px solid red;
    padding: 10px;
    display: flex;
}
.pool-container-left {
    float: left;
    width: 40%;
    border-radius: 6px;
    border: 1px solid magenta;
    padding: 5px;
    overflow: hidden;
}
.pool-container-right {
    width: 60%;
    border-radius: 6px;
    border: 1px solid yellow;
    padding: 5px;
    overflow: hidden;
}
